<footer class="footer bg-primary text-light">
    <div class="row">
      <div class="col text-center">
        <p>Made with <i class="bi bi-heart-fill text-danger"></i> by romy</p>
      </div>
    </div>
</footer>
