{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    Bienvenue sur l'api symfony
                </h1>
                <p class="fw-bold text-dark">
                    Sym Api est un projet d'api rest avec symfony 6. Dans ce projet nous allons utiliser l'api geo.api.gouv.fr pour récupérer les informations des communes de France.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Les routes de l'api
                </h2>
                <p class="fw-bold text-dark">
                    Pour voir les routes de l'api, cliquez sur le bouton ci-dessous.
                </p>
                
                <a href="{{ path('app_api_region') }}" class="btn btn-primary">Voir les régions</a>

                <a href="{{ path('app_api_departement') }}" class="btn btn-info">Voir les départements</a>

                <a href="{{ path('app_api_commune') }}" class="btn btn-success">Voir les communes</a>
            </div>
        </div>
    </div>
{% endblock %}
