{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Régions{% endblock %}

{% block body %}


<div class="container">

        <h1 class="text-center my-3">
            Liste des régions
        </h1>

        <div class="row ">
            {% for region in regions %}
                <div class="card border-primary mb-3 mx-3 bg-primary text-white text-center" style="max-width: 20rem;">
                <div class="card-header">Code : {{region.code}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{region.nom}}</h4>
                </div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
